:root {
    --dark: #181818;
}

.App {
    padding: 2rem 4rem;
}

h1 {
    font-size: 3rem;
}

.posts {
    margin-top: 2rem;
}

.post > .post-header > h1 {
    font-size: 2rem;
}

.post {
    border: 2px solid var(--dark);
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 2rem;
    padding: 1rem;
    transition: 0.3s all ease-in-out;
    position: relative;
}

.post::after {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 2px solid var(--dark);
    border-radius: 10px;
}

.post:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.post > .post-header {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--dark);
}

@media screen and (max-width: 500px) {
    .App {
        padding: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    .post > .post-header > h1 {
        word-wrap: break-word;
        font-size: 1.2rem;
    }
}
